.calculator {
    width: 400px;
    background-color: black;
    color: white;
}

.output {
    text-align: right;
    font-size: 35px;
    padding: 20px;
    padding-right: 10px;
    font-family: monospace;
    color: white;
}

.calculator-buttons {
    display: flex;
    flex-direction: column;
}

.calc-button {
    background-color:rgb(216,217,219);
    height: 100px;
    width: 25%;
    font-size: 40px;
}

.calc-button:last-child {
    color: white;
    background-color: rgb(223,151,76);
}

.calc-button-2 {
    background-color: rgb(216,217,219);
    height: 100px;
    width: 50%;
    font-size: 40px;
}

.calc-button-3 {
    background-color: rgb(216,217,219);
    height: 100px;
    width: 75%;
    font-size: 40px;
}

.calc-button:hover, .calc-button-2:hover, .calc-button-3:hover {
    cursor: pointer;
    background-color: rgb(239, 239, 239);
}